<ion-content>
  <app-auth-header></app-auth-header>

  <div class="container">
    <div class="container-auth">
      <h1>ADMIN REGISTER</h1>

      @if (authForm(); as authForm) {
        <form
          [formGroup]="authForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="onSubmit()"
        >
          <app-input-field
            name="userName"
            label="Username"
            placeholder="..."
            icon="person-outline"
            [errorMessage]="getErrorMsg('userName')"
          />

          <app-input-field
            name="password"
            type="password"
            label="Password"
            placeholder="..."
            icon="lock-closed-outline"
            [errorMessage]="getErrorMsg('password')"
            (blur)="updateMismatchState(authForm)"
          />

          <app-input-field
            name="passwordConfirm"
            type="password"
            label="Password Confirmation"
            placeholder="..."
            icon="lock-closed-outline"
            [errorMessage]="getErrorMsg('passwordConfirm')"
            (blur)="updateMismatchState(authForm)"
          />

          <app-input-field
            name="adminCode"
            type="password"
            label="Admin Code"
            placeholder="..."
            icon="key-outline"
            [errorMessage]="getErrorMsg('adminCode')"
            class="last-input"
          />

          <ion-button [disabled]="!authForm.valid" expand="block" type="submit">
            Register
          </ion-button>
        </form>

        <div class="auth-error">{{ errorMessage() }}</div>
      }
    </div>
  </div>
</ion-content>
