<div class="container">
  <div
    [ngClass]="[getColorState(), 'container-room']"
    (click)="
      _roomAvailability()?.activeReservation
        ? _makeCheckout.emit()
        : _addReservation.emit()
    "
  >
    <div class="container-room-num">
      <p class="name">{{ _roomAvailability()?.room?.name }}</p>
      <ion-icon [name]="icon()" class="icon" />
      <p class="state"></p>
    </div>

    @if (_roomAvailability()?.activeReservation !== null) {
      <p>
        {{
          _roomAvailability()?.activeReservation?.checkInDate
            | date: "dd/MM/yyyy"
        }}
        -
        {{
          _roomAvailability()?.activeReservation?.checkOutDate
            | date: "dd/MM/yyyy"
        }}
      </p>
    }

    <div class="container-room-tags">
      @for (
        property of _roomAvailability()?.room?.properties;
        track property.id
      ) {
        <div class="tag">
          <p>
            {{ property.group.name }} <span>{{ property.name }}</span>
          </p>
        </div>
      }
    </div>
  </div>

  <div class="container-buttons">
    <button class="button edit-button" (click)="_updateClick.emit()">
      <ion-icon name="pencil-outline" size="large" />
    </button>
    <button class="button delete-button" (click)="_deleteClick.emit()">
      <ion-icon name="trash-outline" size="large" />
    </button>
  </div>
</div>
