<div class="container">
  <div class="container-actions">
    <h2>Configure Rooms Tag Group</h2>
    <button class="button button-add" (click)="addPropertyGroup()">
      <ion-icon name="add-outline"></ion-icon>
      <span>Add Tag Group</span>
    </button>
  </div>
  <div class="container-properties">
    @for (
      roomPropertyGroup of roomPropertyGroups | async;
      track roomPropertyGroup.id
    ) {
      <app-room-property-group [_roomPropertyGroup]="roomPropertyGroup" />
    }
  </div>
</div>
