$sidebar-width: 50px;
$sidebar-expand-width: 200px;

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $sidebar-width;
  background-color: var(--dark-blue);
  transition: all 0.1s ease;
}

.sidebar.expanded {
  width: $sidebar-expand-width;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: block;
  margin: 10px 0;
  width: 100%;
}

.page-content {
  position: absolute;
  left: $sidebar-width;
  width: calc(100% - $sidebar-width);
  height: 100%;

  ion-tabs {
    position: relative;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);

  .logo {
    margin-left: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &-img {
      width: 3rem;
    }
  }

  .buttons-container {
    margin-right: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;

    .user-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .exit-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .button-exit {
        text-decoration: none;
        background-color: var(--error);
        text-align: center;
        padding: 0.5rem;
        color: var(--white);
        border-radius: 0.5rem;
      }
    }
  }
}

.page-content {
  background-color: var(--light);
}
