<main class="page-content">
  <header>
    <div class="logo">
      <img
        src="../../../assets/Logo_Mr-Hotel.svg"
        alt="Logo"
        class="logo-img"
      />
      <p>Mr. Hotel</p>
    </div>

    <div class="buttons-container">
      <div class="user-container">
        <p>{{ userInfo()?.userName }}</p>
      </div>

      <div class="exit-container">
        <a href="" class="button-exit">Exit</a>
      </div>
    </div>
  </header>

  <ion-tabs />
</main>

<div class="sidebar" #sidebar>
  <ul>
    <li>
      <ion-button
        class="expand-btn"
        (click)="sidebarExpanded.set(!sidebarExpanded())"
      >
        <ion-icon name="reorder-three-outline" />
      </ion-button>
    </li>

    <li>
      <app-tab-button
        name="Reservations"
        icon="bed-outline"
        [expanded]="sidebarExpanded"
        (click)="onTabClick('reservations')"
      />

      <app-tab-button
        name="Calendar"
        icon="calendar-outline"
        [expanded]="sidebarExpanded"
        (click)="onTabClick('reservations')"
      />
    </li>
  </ul>
</div>
