<div class="page-content">
  <header>
    <div class="logo">
      <img src="./assets/mr-hotel-logo.svg" alt="Logo" class="logo-img" />
      <p>Mr. Hotel</p>
    </div>

    <div class="buttons-container">
      <div class="user-container">
        <p>{{ userInfo()?.userName }}</p>
      </div>

      <div class="exit-container">
        <a href="" class="button-exit">Exit</a>
      </div>
    </div>
  </header>

  <main class="tab-content">
    <ion-tabs />
  </main>
</div>

<div class="sidebar" #sidebar>
  <ul>
    <li class="back">
      <app-tab-button
        name="Back"
        (click)="isSideBarExpanded.set(!isSideBarExpanded())"
        [expanded]="isSideBarExpanded"
        [icon]="
          isSideBarExpanded() ? 'arrow-back-outline' : 'reorder-three-outline'
        "
      />
    </li>

    <li>
      <app-tab-button
        name="Reservations"
        icon="bed-outline"
        [expanded]="isSideBarExpanded"
        (click)="onTabClick('reservations')"
      />
    </li>

    <li>
      <app-tab-button
        name="Guests"
        icon="person-outline"
        [expanded]="isSideBarExpanded"
        (click)="onTabClick('guests')"
      />
    </li>

    <li>
      <app-tab-button
        class="settings"
        name="Settings"
        icon="cog-outline"
        [expanded]="isSideBarExpanded"
        (click)="onTabClick('guests')"
      />
    </li>
  </ul>
</div>
