<div class="page-content">
  <header>
    <div class="logo">
      <img src="./assets/mr-hotel-logo.svg" alt="Logo" class="logo-img" />
      <p>Mr. Hotel</p>
    </div>

    <div class="buttons-container">
      <div class="user-container">
        <p>{{ userInfo()?.userName }}</p>
      </div>

      <div class="exit-container">
        <a href="" class="button-exit">Exit</a>
      </div>
    </div>
  </header>

  <main>
    <ion-tabs />
  </main>
</div>

<div class="sidebar" #sidebar>
  <ul>
    <li>
      <app-tab-button
        name="Back"
        (click)="sidebarExpanded.set(!sidebarExpanded())"
        [expanded]="sidebarExpanded"
        [icon]="
          sidebarExpanded() ? 'arrow-back-outline' : 'reorder-three-outline'
        "
      />
    </li>

    <li>
      <app-tab-button
        name="Reservations"
        icon="bed-outline"
        [expanded]="sidebarExpanded"
        (click)="onTabClick('reservations')"
      />

      <app-tab-button
        name="Calendar"
        icon="calendar-outline"
        [expanded]="sidebarExpanded"
        (click)="onTabClick('reservations')"
      />
    </li>
  </ul>
</div>
