<ion-content>
  <app-auth-header></app-auth-header>

  <div class="container">
    <div class="container-auth">
      <h1>LOGIN</h1>

      @if (_authForm(); as authForm) {
        <form
          [formGroup]="authForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="onSubmit()"
        >
          <app-input-field
            name="userName"
            label="User Name"
            placeholder="..."
            icon="person-outline"
            [errorMessage]="getErrorMsg('userName')"
          />

          <app-input-field
            name="password"
            type="password"
            label="Password"
            placeholder="..."
            icon="lock-closed-outline"
            [errorMessage]="getErrorMsg('password')"
            class="last-input"
          />

          <ion-button
            class="auth-button"
            expand="block"
            [disabled]="!authForm.valid"
            shape="round"
            type="submit"
            size="large"
          >
            Log In
          </ion-button>
        </form>

        <div class="auth-error">{{ _errorMessage() }}</div>
      }
    </div>
  </div>
</ion-content>
