// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --primary: #C6542f;
  --secondary: #3A405A;
  --light-blue: #658E9C;
  --light-green: #679436;
  --light: #FFFFFF;
  --dark: #000000;
}
