<div class="container">
  <h2>Purchase report</h2>
  <form (submit)="onSubmit()">
    <div class="coolinput">
      <label for="title" class="text">Choose the product:</label>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Select</th>
              <th>Name</th>
              <th>Stock Quantity</th>
              <th>Increase</th>
            </tr>
          </thead>
          <tbody>
            @for (item of productsStock | async; track item.id) {
            <tr>
              <td></td>
              <td>{{ item.name }}</td>
              <td>{{ item.stockQuantity }}</td>
              <td>
                <input
                  type="number"
                  class="input"
                  [(ngModel)]="_quantity"
                  name="Quantity"
                  min="0"
                />
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <label for="totalCost" class="text">Total cost:</label>
      <input
        id="totalCost"
        type="number"
        class="input"
        [(ngModel)]="_price"
        name="TotalCost"
        min="0"
        />
    </div>
    <div class="container-actions">
      <button class="button button-modify" type="submit">Modify</button>
      <button
        class="button button-cancel"
        type="button"
        (click)="dismissModal()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
