.container {
  height: 100%;
  overflow-y: scroll;
}

.container-actions {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 95%;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.button-add-product {
  background-color: var(--dark-blue);
  color: var(--light);
}

.container-reports{
  display: flex;
  justify-content: center;
  gap: 35rem;
  align-items: center;
  width: 95%;
  margin: 1rem auto;
}

.button-add-PurchaseReport, .button-add-UsageReport{
  background-color: var(--dark-blue);
  color: var(--light);
}

main {
  width: 95%;
  margin: 1rem auto;
}

.table-container {
  max-height: 550px;
  overflow-y: auto;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--dark-blue);
  border-radius: 1rem;
}

th {
  color: var(--light);
  font-weight: bold;
  padding: 0.5rem;
}

tr {
  border: 1px solid var(--light-gray);
}

td {
  color: var(--dark);
  text-align: center;
  padding: 0.5rem;
}
