<div class="container">
  <div class="container-actions">
    <button class="button button-add-product" (click)="addProduct()">
      <ion-icon name="add-outline"></ion-icon>
      <span>Add Product</span>
    </button>
  </div>

  <main>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Ideal Quantity</th>
            <th>Stock Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (product of products | async; track product.id) {
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.idealQuantity }}</td>
              <td>{{ product.stockQuantity }}</td>
              <td class="product-actions">
                <button class="delete" (click)="deleteProduct(product)">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="container-reports">
      <button class="button button-add-PurchaseReport">
        <ion-icon name="add-outline"></ion-icon>
        <span>Purchase report</span>
      </button>
      <button class="button button-add-UsageReport">
        <ion-icon name="add-outline"></ion-icon>
        <span>Usage Report</span>
      </button>
    </div>
  </main>
</div>
