<div class="container">
  <div class="container-actions">
    <button class="button button-add-product" (click)="addProductStock()">
      <ion-icon name="add-outline"></ion-icon>
      <span>Add Product</span>
    </button>
  </div>

  <main>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Ideal Quantity</th>
            <th>Stock Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (productStock of productStocks | async; track productStock.id) {
            <tr>
              <td>{{ productStock.product.name }}</td>
              <td>{{ productStock.idealQuantity }}</td>
              <td>{{ productStock.stockQuantity }}</td>
              <td class="product-actions">
                <button
                  class="delete"
                  (click)="deleteProductStock(productStock)"
                >
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="container-reports">
      <button
        class="button button-add-PurchaseReport"
        (click)="addPurchaseReport()"
      >
        <ion-icon name="add-outline"></ion-icon>
        <span>Purchase report</span>
      </button>
      <button class="button button-add-UsageReport" (click)="addUsageReport()">
        <ion-icon name="add-outline"></ion-icon>
        <span>Usage Report</span>
      </button>
    </div>
  </main>
</div>
