$btnBackground: linear-gradient(90deg, #175894 0%, #839ab1 100%);

h1 {
  color: var(--primary);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  &-auth{
    width: 100%;
    background-color: var(--light);
    padding: 0 1.5rem;
    min-width: 15rem;
    max-width: 30rem;
  }
}

ion-content {
  --ion-padding: 1.5rem;
  --background: #F0F0F0;
}

app-input-field {
  --input-background: var(--light);
  --input-text-color: var(--secondary);
}

ion-button {
  --background: var(--light-green);
}

.auth-error {
  margin-top: 1rem;
  display: block;
  background-color: var(--error);
  color: var(--light);
  text-align: center;
  border-radius: 1rem;
}


